/*
  ============================================================
  TOKENS
  ============================================================

  Variables reutilizables para mantener un sistema visual
  consistente en todo el documento.
*/

:root {
  --color-background: #ffc7e0;
  --color-text: #000;
  --color-accent: #247c00;
  --title-color: #3ee500;

  --font-family-base: "adelle-mono", monospace;

  --font-size-body: 1rem;
  --font-size-h1: 9vw;
  --font-size-h2: 3rem;
  --font-size-h3: 1.25rem;

--typo-title: "kuhlman-vf", sans-serif;
}

/*
  ============================================================
  SELECTOR UNIVERSAL
  ============================================================
  * funciona como un comodín.
  Selecciona todos los elementos HTML.
*/

* {
  box-sizing: border-box;
}



/*
  ============================================================
  BODY
  ============================================================

  Define el sistema visual base del documento.
*/
body {
  max-width: 100%;
  margin: 5%;

  background-color: var(--color-background);
  color: var(--color-text);

  font-family: var(--font-family-base);
  font-size: var(--font-size-body);
  text-align: left;
}

.hero {
  background-color: var(--color-accent);
  color: var(--color-background);
  padding: 2rem;
  text-align: left;
  border-radius: 2rem;
}
.hero a {
  color: var(--color-background);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--color-background);
}
/*
  ============================================================
  JERARQUÍA TIPOGRÁFICA
  ============================================================

  HTML define la jerarquía.
  CSS controla su representación visual.
*/

h1 {
  text-align: center;
  font-size: var(--font-size-h1);
  color: var(--title-color);
  font-family: var(--typo-title);
  font-weight: 400;
  line-height: 1.24em;
}

h2 {
  text-align: center;
  font-size: var(--font-size-h2);
  color: var(--title-color);
}

h3 {
  font-size: var(--font-size-h3);
}


/*
  ============================================================
  LINKS
  ============================================================

  El color de acento identifica enlaces y acciones.
*/

a {
  color: var(--color-accent);
}


/*
  ============================================================
  CONTENEDOR PRINCIPAL
  ============================================================

  width:
  ocupa una proporción del espacio disponible.

  max-width:
  evita que el contenido crezca demasiado.

  margin: 0 auto:
  distribuye el espacio horizontal y centra la caja.
*/

main {
  width: 65%;
  min-width: 290px;
  max-width: 1240px;
  margin: 0 auto;
}


/*
  ============================================================
  ESPACIADO BÁSICO
  ============================================================
*/

header,
main,
footer {
  padding: 2rem;
}

p {
  margin-bottom: 1rem;
  text-align: center;
}

section {
  margin-bottom: 3rem;
}

nav {
  text-align: center;
}

nav a {
  margin-right: 1rem;
  font-size: 3vw
}
